.input {
     width: 350px;
     height: 40px;
     padding: 0 16px 0 40px;
     background-color: rgb(248, 249, 250);
     border: 1px solid rgb(241, 241, 241);
}

.wrapper img {
     width: 25px;
     aspect-ratio: 1;
}

.wrapper {
     display: flex;
     align-items: center;
     position: relative;
}

.wrapper button {
     width: 40px;
     aspect-ratio: 1;
     position: absolute;
}
